@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos Microsoft Dev Group Cobán</h1>
    <p>Esto es una página de ejemplo</p>

    <button class="btn btn-success">Aceptar</button>
</div>
